* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* body {
  background: rgb(233, 227, 227);
} */

.header-div img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.header-div {
  display: flex;
  gap: 7rem;
  max-width: 800px;
  background-color: white;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
}
.profile {
  padding: 2rem;
  margin-left: 8rem;
}
.profile h3 {
  margin-top: 1rem;
}
.links {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}
.links a {
  text-decoration: none;
  list-style: none;
  color: rgb(67, 61, 61);
  padding: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.btns button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.logos {
  align-items: center;
  margin-top: 2rem;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.logos img {
  width: 20px;
}
.footer-main {
  width: 55%;
  margin: 5rem auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.footer-span {
  color: red;
  font-size: 2rem;
}
.line {
  color: #bcbcbc;
}
.footer p {
  color: #667085;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font: inter;
  margin-top: 0.5rem;
}
.logo-btn {
  border: none;
  background-color: white;
}
.footer img {
  width: 15%;
}
